@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

body{
    
   /*background: linear-gradient(180deg, #87D3F8 10%, #FFFFFF 100%);*/
    min-height:100%;
    box-sizing: border-box;

}



#titleDiv {
    width: 100%;
    display: flex;
    align-items: center;
    font-family: 'Poppins';
    background-color:cadetblue;
    font-size:10px;

}

.innerdiv {
    display: flex;
}

#logo {
    height: auto;
    width: 5%;
}

.ruler {
    background-color:black;
    height: 1px;
    width: 100%;
    margin: 0%;
}

.login-container {
   
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#login-form {
   justify-content:center;
    align-items:flex-start;
    display: flex;
    flex-direction: column;
}

#login-title {
    
    font-family: poppins;
}


.login-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;


}

input {
    width: 90%;
    padding: 10px;
    margin: 5px 0px;
    border: 1px solid #ccc;
    
}

#btn{
    width: 90%;
    padding: 10px;
    
    border: none;
    margin: 10px 0px;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    font-family: Poppins;
}

#btn:hover {
   
}

label{
    margin-left:25px;
}